body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.contact-section{
    padding: 40px 0;
}
.contact-section h2{
    text-align: center;
    color: #ddd;
}
.border{
    width: 100px;
    height: 10px;
    background: #c8d6e5;
    margin: 30px auto;
}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    color: #ddd;
    outline: none;
    transition: all linear .3s;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #c8d6e5;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #222f3e;
    padding: 12px 50px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: all linear .3s;
}
.contact-form-btn:hover{
    background: #01a3a4;
}